body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-item2 {
    background-color: grey;
    padding: 8px 16px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navbar-item {
    margin-right: 10px;
}

.navbar-item3 {
    margin-right: 10px;
    color: yellow;
}

.main-content {
    padding: 20px;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

.button-green {
    background-color: #00cc66;
    color: white;
}

.button-outline {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1a1a1a;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-item-container {
    border: 1px solid #ccc;
    padding: 10px;
}

.footer-item {
    color: white;
    text-decoration: none;
}

.footer-item:hover {
    background-color: #333;
}